<%= form_with(model: disk, local: true) do |form| %>
  <% if disk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disk.errors.count, "error") %> prohibited this disk from being saved:</h2>

      <ul>
      <% disk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :restaurant_id %>
    <%= form.text_field :restaurant_id, id: :disk_restaurant_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :disk_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :disk_price %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :disk_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
