<section class="content-header">
    <h1>
        Pratos
        <small>Todas os Pratos</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="#">Pratos</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Restaurante</th>
                                <th>Prato</th>
                                <th>Preço</th>
                                <th colspan="1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @disks.each do |disk| %>
                            <tr>
     
                                <td><%= disk.restaurant.name %></td>
                                <td><%= disk.name %></td>
                                <td><%= disk.price %></td>
                                <td><%= link_to '', disk, :class => 'glyphicon glyphicon-eye-open' %></td>
                                <td><%= link_to '', edit_disk_path(disk), :class => 'glyphicon glyphicon-edit', :style => 'color:#FFD600' %></td>
                                <td><%= link_to '', disk, method: :delete, data: { confirm: 'Tem certeza que deseja desativar o prato?' }, :class => 'glyphicon glyphicon-ban-circle', :style => 'color:red' %></td>
                         
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <%= will_paginate @disks, renderer: BootstrapPagination::Rails %>
                </div>
            </div>
        </div>
    </div>
</section>

