<p id="notice"><%= notice %></p>

<h1>Disks</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Name</th>
      <th>Price</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disks.each do |disk| %>
      <tr>
        <td><%= disk.restaurant %></td>
        <td><%= disk.name %></td>
        <td><%= disk.price %></td>
        <td><%= disk.price %></td>
        <td><%= link_to 'Show', disk %></td>
        <td><%= link_to 'Edit', edit_disk_path(disk) %></td>
        <td><%= link_to 'Destroy', disk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disk', new_disk_path %>
