<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @disk.restaurant %>
</p>

<p>
  <strong>Name:</strong>
  <%= @disk.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @disk.price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @disk.price %>
</p>

<%= link_to 'Edit', edit_disk_path(@disk) %> |
<%= link_to 'Back', disks_path %>
