<section class="content-header">
    <h1>
        Restaurantes
        <small>Todas os Restaurantes</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="#">Restaurantes</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th colspan="1"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <% @restaurants.each do |restaurant| %>
                            <tr>
                                <td><%= restaurant.name %></td>
                     
                                <td><%= link_to '', restaurant, :class => 'glyphicon glyphicon-eye-open' %></td>
                                <td><%= link_to '', edit_restaurant_path(restaurant), :class => 'glyphicon glyphicon-edit', :style => 'color:#FFD600' %></td>
                                <td><%= link_to '', restaurant, method: :delete, data: { confirm: 'Tem certeza que deseja desativar o restaurante?' }, :class => 'glyphicon glyphicon-ban-circle', :style => 'color:red' %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <%= will_paginate @restaurants, renderer: BootstrapPagination::Rails %>
                </div>
            </div>
        </div>
    </div>
</section>
